.vision-section {
  height: 220px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.vision-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #333;
  margin-bottom: 16px;
}

.vision-quote {
  font-size: 20px;
  color: #333;
  font-weight: 400;
  font-style: italic;
}

.vision-container {
  border: 4px solid rgb(106, 44, 145);
  border-radius: 90px;
  padding: 45px 100px;
  margin-left: 15px;
}
