.group-icon {
  height: 130px;
  margin-bottom: 15px;
}
.patient,
.doctor,
.caregiver {
  justify-items: center;
  border: none;
  border-bottom: 1px solid #33333367;
  border-left: 1px solid #33333357;
  border-radius: 15px;
}
@media (max-width: 767.98px) {
  .row.justify-content-center {
    flex-direction: column !important;
    align-items: center;
  }

  .patient,
  .doctor,
  .caregiver {
    width: 100%;
    margin-bottom: 20px;
  }

  .group-icon {
    height: 100px;
  }

  .title-p {
    font-size: 32px !important;
  }
}
