.hero-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* For blur effect */
  backdrop-filter: blur(3px);
  /* For semi-transparent dark layer */
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

.hero-text {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin-top: -30px;
  font-style: italic;
}
