.info {
  color: #585858;
  word-spacing: 2px;
  line-height: 33px;
}

.key-feature {
  border: 1px solid;
  border-radius: 15px;
  margin: 20px; /* Slightly reduced for better stacking on mobile */
  padding: 20px 30px;
  width: 250px;
  height: 150px;
  font-size: 25px;
  color: #fff;
  background: linear-gradient(
    to top right,
    rgba(106, 44, 145, 0.8),
    rgba(105, 98, 173, 0.6)
  );
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
