.section-container-Neurofy {
  background: linear-gradient(
    to top,
    rgba(106, 44, 145, 0.1),
    rgba(255, 255, 255, 0.09)
  );
}
.feature-container-box {
  border: 1px solid #3333333f;
  border-radius: 13px;
  padding: 15px 20px;
}
.feature-container-box {
  background-color: #f9f9f9a8;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s ease;
}

.feature-container-box:hover {
  transform: translateY(-5px);
}
