.paragraph-div {
  font-size: 14px;
}
.list-div {
  color: #333333be;
  margin-left: -10px;
}
.div-option {
  border: 1px solid #33333343;
  margin: 10px;
  padding: 15px 20px 0px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .div-option {
    padding: 1rem;
  }
}
