/* Container Styling */
.small-carousel {
  max-width: 900px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

/* Image Styling */
.carousel-img {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

/* Caption Below Image */
.carousel-caption-below {
  margin-top: 15px;
  padding: 10px 20px;
}

.carousel-caption-below h5 {
  font-size: 25px;
  color: #6a2c91;
  margin-bottom: 8px;
}

.carousel-caption-below p {
  font-size: 20px;
  color: #333;
  margin-bottom: 0;
}

/* Arrows cover entire carousel area */
.carousel-control-prev,
.carousel-control-next {
  top: 0;
  bottom: 0;
  width: 5%;
}

.cont {
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 25px;
  border: 1px solid rgb(51, 51, 51, 0.3);
}
/* Responsive */
@media (max-width: 768px) {
  .carousel-img {
    max-height: 300px;
  }

  .carousel-caption-below h5 {
    font-size: 20px;
  }

  .carousel-caption-below p {
    font-size: 18px;
  }
}
