.seizure-type-div {
  border: 1px solid #33333344;
  border-radius: 10px;
  padding: 20px 20px 10px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
}
.seizure-type-title {
  font-size: 23px;
}
.seizure-type-info {
  font-size: 14px;
  color: #333333af;
  font-weight: 100;
}
.seizure-type-list-point {
  color: #333333db;
}
.div-box-container {
  flex-wrap: wrap;
  justify-content: center;
}

.seizure-type-div {
  flex: 1 1 300px;
  max-width: 100%;
  margin-bottom: 20px;
}

/* Optional: spacing between cards */
@media (min-width: 768px) {
  .seizure-type-div {
    max-width: 30%;
  }
}
