/* For titles (semi-bold) */
.title-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.title-p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
}

/* For regular text */
.body-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
